<ul class="link-list">

	{% assign collections_menu = linklists[collection_linklist] %}

	{% if collections_menu != empty %}

		<li class="has-submenu" id="menu-item-collections" aria-controls="SiteNavLabel-{{ collections_menu.title | handle }}-{{ type }}" aria-expanded="false">
		
			<a class="menu-link" href="{{ routes.collections_url }}">
				<span>{{ collections_menu.title | escape }}</span>
				<span class="icon">{% render 'theme-symbols', icon: 'arrow_icon_down_slim' %}</span>
			</a>

			<ul class="submenu mega-menu" id="SiteNavLabel-{{ collections_menu.title | handle }}-{{ type }}">

				<div class="submenu-holder">

					<div class="submenu-masonry {% if promotion_block %} with-promotion {% else %} without-promotion {% endif %}">

						{%- for link in collections_menu.links -%}

							<li class="mega-link {% if link.links != blank %} has-babymenu {% endif %}">

								<a class="menu-link no-focus-link" href="{{ link.url }}">
									<span>{{ link.title | escape }}</span>
									{% if link.links != blank %}
										<span class="icon">{% render 'theme-symbols', icon: 'arrow_icon_down_slim' %}</span>
									{% endif %}
								</a>
								
								{%- if show_collection_images -%}
									{%- if collections[link.handle] != empty and collections[link.handle].image -%}
										{%- assign menu_image = collections[link.handle].image -%}
										<a href="{{ link.url }}" class="menu-image">
											<div class="site-box-background">
												<img
									        src="{{ menu_image | img_url: '480x540', crop: 'center' }}" alt="{{ menu_image.alt }}"
									        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									        data-srcset="{{ menu_image | img_url: '480x540', crop: 'center' }} 480w, {{ menu_image | img_url: '960x1080', crop: 'center' }} 960w"
									        data-sizes="auto"
									        class="lazyload" 
									      />
									    </div>
								    </a>
									{%- endif -%}
								{%- endif -%}

								{% if link.links != blank %}

									<div class="babymenu">
										<ul>
											{% for childlink in link.links %}
												<li><a class="menu-link no-focus-link" href="{{ childlink.url }}"><span>{{ childlink.title | escape }}</span></a></li>
											{% endfor %}
										</ul>
									</div>

								{%- endif -%}

							</li>
					
						{%- endfor -%}

					</div>

					{%- if promotion_block -%}

						<li class="mega-link has-promotion">
              <span class="menu-link">{{ 'general.navigation.promotion' | t }}</span>
            	{% assign childlink_has_promotion = true %}
            	{{ promotion_block }}
            </li>

					{%- endif -%}

				</div>

			</ul>

		</li>

	{% endif %}

	{% for link in linklists[linklist].links %}

		<li {% if link.links != blank %} class="has-submenu" aria-controls="SiteNavLabel-{{ link.handle }}-{{ type }}" aria-expanded="false" {% endif %} id="menu-item-{{ link.handle }}">

			<a class="menu-link {% if link.active or link.child_active %} active {% endif %}" href="{{ link.url }}">

				<span>{{ link.title | escape }}</span>

				{% if link.links != blank %}
					<div class="arrow-down"></div>
				{% endif %}

			</a>

			{% if link.links != blank %}

				<ul class="submenu normal-menu" id="SiteNavLabel-{{ link.handle }}-{{ type }}">

					<div class="submenu-holder">

						{% for childlink in link.links %}

							<li class="mega-link {% if childlink.links != blank %} has-babymenu" aria-controls="SiteNavLabel-{{ childlink.handle }}-{{ type }}" aria-expanded="false" {% else %} " {% endif %}>

								<a class="menu-link {% if childlink.active or childlink.child_active %} active {% endif %}" href="{{ childlink.url }}">
									<span>{{ childlink.title | escape }}</span>
									{% if childlink.links != blank %}
										<span class="icon">{% render 'theme-symbols', icon: 'arrow_icon_down_slim' %}</span>
									{% endif %}
								</a>

								{% if childlink.links != blank %}

									<div class="babymenu">
										<ul id="SiteNavLabel-{{ childlink.handle }}-{{ type }}">
											{% for babylink in childlink.links %}
												<li><a class="menu-link {% if babylink.active %} active {% endif %}" href="{{ babylink.url }}"><span>{{ babylink.title | escape }}</span></a></li>
											{% endfor %}
										</ul>
									</div>

								{% endif %}

							</li>

						{% endfor %}

					</div>

				</ul>

			{% endif %}

		</li>

	{% endfor %}

	{% if shop.customer_accounts_enabled %}
		<li class="login has-submenu text-small">
			<a class="menu-link {% if link.active %} active {% endif %}" href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
				{% if customer %}
					<span>{{ 'general.navigation.account' | t }}</span>
				{% else %}
					<span>{{ 'general.navigation.login' | t }}</span>
				{% endif %}
			</a>
			{% unless customer or template contains "login" %}
			<ul class="submenu login-submenu" area-expanded="false" style="display: block; padding: 0px; margin: 0px; overflow: hidden; height: 60px;">
			  <div class="" style="width: 100%;">

				<div id="section-login" class="site-box-container container--fullscreen box--can-stick" style="height: 100%">

					   <div id="LoginRecoverTitle" class="one-quarter" data-password_recovery="{{ 'customer.recover_password.title' | t }}" data-login="{{ 'customer.login.title' | t }}">
					  <div>{{ 'customer.login.title' | t }}</div>
				  </div>


					  <div class="note form-success" id="ResetSuccess" style="display:none;">
						{{ 'customer.recover_password.success' | t }}
					  </div>

					  <div id="CustomerLoginForm" class="simple-grid">

						{% form 'customer_login' %}

						  {{ form.errors | default_errors }}

						  <div class="one-quarter input-wrapper">
							<label for="CustomerEmail" class="hidden-label">{{ 'customer.login.email' | t }}</label>
							<input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %} text-input" placeholder="Email Address" autocorrect="off" autocapitalize="off" autofocus>
						  </div>

						  <div class="one-quarter input-wrapper">
							{% if form.password_needed %}
							  <label for="CustomerPassword" class="hidden-label">{{ 'customer.login.password' | t }}</label>
							  <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %} text-input" placeholder="Your Password">
							{% endif %}
						  </div>

						  <input type="submit" class="button" value="{{ 'customer.login.sign_in' | t }}" style="float: left; margin: 0px; border: none; border-right: solid 2px #211d11; top: -0.5px; height: 58.5px;">

						<div class="link-text">
							<div class="link-text-wrapper">
							  {% if form.password_needed %}
								<p><a href="/account/login#recover">{{ 'customer.login.forgot_password' | t }}</a></p>
							  {% endif %}
							  <p href="#"><span class="new-customer-text-wrapper" style="opacity: .62; font-size: 12pt; padding: 0px;">{{ 'customer.login.new_customer' | t }}</span> {{ 'customer.login.sign_up' | t | customer_register_link }}</p>
							</div>
						</div>

						{% endform %}

					  </div>

					  {% if shop.checkout.guest_login %}

						{% form 'guest_login' %}
						  <input type="submit" class="button dark outline" value="{{ 'customer.login.guest_continue' | t }}">
						{% endform %}

					  {% endif %}

				  </div>

				</div>

			</ul>
		{% endunless %}
		</li>
	{% endif %}

</ul>