<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}
 
  {%- capture seo_title -%}
    {%- if template contains 'search' -%}
      {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
    {%- else -%}
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}
    {%- endif -%}
  {%- endcapture -%}

  <title>{{ seo_title }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <link rel="canonical" href="{{ canonical_url }}">

  {%- render 'open-graph' -%}
  {%- render 'microdata-schema' -%}
  
  <script>
    2===performance.navigation.type&&location.reload(!0);
  </script>

  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'theme.min.js' | asset_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

  {%- render 'head-variables' -%}

  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

  {{ content_for_header }}
  
  {%- if template == 'customers/addresses' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {%- endif -%}

  <noscript>
    <link rel="stylesheet" href="{{ 'theme.no-js.css' | asset_url }}">
  </noscript>
  
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }} no-touchevents">
  
  {% include 'custom-fonts' %}
  <a href="#main" class="visually-hidden skip-to-content" tabindex="1">{{ 'general.navigation.skip_to_content' | t }}</a>

  {%- section 'header' -%}

  <main class="wrapper main-content" id="main" role="main">

    {{ content_for_layout }}
  
    {%- section 'text-columns-with-icons' -%}
    {%- section 'footer' -%}

  </main>

  <div id="site-overlay" class="site-overlay"></div>

  {%- capture arrow_down -%} {%- render "theme-symbols", icon: "arrow_icon" -%} {%- endcapture %}
  {%- capture arrow_right -%} {%- render "theme-symbols", icon: "arrow_icon_smallest" -%} {%- endcapture -%}
  {%- capture icon_heart -%} {%- render "theme-symbols", icon: "heart_icon" -%} {%- endcapture -%}
  {%- capture icon_twitter -%} {%- render "theme-symbols", icon: "twitter_icon" -%} {%- endcapture -%}
  {%- capture icon_instagram -%} {%- render "theme-symbols", icon: "social_instagram" -%} {%- endcapture -%}
  {%- capture icon_zoom -%} {%- render "theme-symbols", icon: "zoom_out_icon" -%} {%- endcapture -%}

  <script>

    window.themeAssets = {
      arrowDown: '{{ arrow_down | lstrip | rstrip }}',
      arrowRight: '{{ arrow_right | lstrip | rstrip }}',
      iconHeart: '{{ icon_heart | lstrip | rstrip }}',
      iconTwitter: '{{ icon_twitter | lstrip | rstrip }}',
      iconInstagram: '{{ icon_instagram | lstrip | rstrip }}',
      iconZoom: '{{ icon_zoom | lstrip | rstrip }}'
    };
    window.themeCartSettings = '{{ settings.cart_action }}';

    window.shop_money_format = "{{ shop.money_format }}";

    window.product_words_sold_out_variant = "{{ 'product.inventory.sold_out_variant' | t }}";
    window.product_words_unavailable_variant = "{{ 'product.inventory.unavailable_variant' | t }}";
    window.product_words_one_product = "{{ 'product.inventory.one_product' | t }}";
    window.product_words_few_products = "{{ 'product.inventory.few_products' | t }}";
    window.product_words_no_products = "{{ 'product.inventory.no_products' | t }}";
    window.product_words_preorder = "{{ 'product.inventory.preorder' | t }}";
    window.product_words_vendor = "{{ 'product.vendor_html' | t }}";
    window.general_words_close_popup = "{{ 'general.navigation.close_popup' | t }}";

    window.cart_url = "{{ routes.cart_url }}";
    window.cart_add_url = "{{ routes.cart_add_url }}";
    window.cart_change_url = "{{ routes.cart_change_url }}";
    window.cart_add_error = "{{ 'cart.add_error' | t }}";
    window.cart_general_error = "{{ 'cart.general_error' | t }}";

    window.search_url = "{{ routes.search_url }}";
    window.predictive_search_enabled = "{{ settings.predictive_search_enabled }}";
    window.predictive_search_show_vendor = "{{ settings.predictive_search_show_vendor }}";
    window.predictive_search_show_price = "{{ settings.predictive_search_show_price }}";
    window.predictive_search_limit = "{{ settings.predictive_search_limit }}";
    window.predictive_search_include_articles = "{{ settings.predictive_search_include_articles }}";
    window.predictive_search_include_pages = "{{ settings.predictive_search_include_pages }}";
    window.search_words_collection_results_title = "{{ 'general.search.collection_results_title' | t }}";
    window.search_words_page_results_title = "{{ 'general.search.page_results_title' | t }}";
    window.search_words_article_results_title = "{{ 'general.search.article_results_title' | t }}";
    window.search_words_search_for_html = '{{ 'general.search.search_for_html' | t }}';
    window.search_placeholder_image = '{{ 'product-1' | placeholder_svg_tag }}';

    window.showPreloader = {{ settings.show_preloader }};

    {%- if settings.predictive_search_enabled -%} 
      window.month_names = ["{{ 'general.date_format.month_names.January' | t }}", "{{ 'general.date_format.month_names.February' | t }}", "{{ 'general.date_format.month_names.March' | t }}", "{{ 'general.date_format.month_names.April' | t }}", "{{ 'general.date_format.month_names.May' | t }}", "{{ 'general.date_format.month_names.June' | t }}", "{{ 'general.date_format.month_names.July' | t }}", "{{ 'general.date_format.month_names.August' | t }}", "{{ 'general.date_format.month_names.September' | t }}", "{{ 'general.date_format.month_names.October' | t }}", "{{ 'general.date_format.month_names.November' | t }}", "{{ 'general.date_format.month_names.December' | t }}"];
    {%- endif -%}

    if ( ! JSON.parse(document.getElementById('shopify-features').text).predictiveSearch ) {
      window.predictive_search_enabled = "false";
      document.getElementById('site-search-handle').setAttribute('id', '');
    }

    if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
      document.querySelector('body').classList.remove('no-touchevents');
      document.querySelector('body').classList.add('touchevents');
    } 

  </script>

  <script src="{{ 'theme.min.js' | asset_url }}" async></script>
  <script>
    function onYouTubeIframeAPIReady(){
      window.CUBER.ProductMedia._mountYouTubeVideos();
    }
  </script>

  {%- section 'popup' -%}
  
  {%- if settings.thumb_resize == 'fit' -%}
    <style>
      .box__collection .box--product-image img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: contain !important;
        font-family: "object-fit: contain" !important;
      }
    </style>
  {%- endif -%}
  
</body>
</html>