<div class="box__banner style--box" style="background-color: {{ section.settings.bg_color }}; color: {{ section.settings.txt_color }}" data-show="{{ section.settings.banner_enable }}">

  <div class="content">{{ section.settings.content }}</div>

  <div class="close" aria-label="{{ 'general.navigation.close_popup' | t }}">
    <span aria-hidden="true">{% render 'theme-symbols', icon: 'close_icon' %}</span>
  </div>

</div>


<script>
  const closeBtn=  document.querySelector(".close");

  closeBtn.addEventListener("click", ()=> {
    // closeBtn.parentElement.remove();
    document.querySelector(".site-header .box__banner").classList.add("hide");
  });

</script>

<style type="text/css">

  .hide {
    display: none !important;
  }

  .close polygon {
    fill: {{ section.settings.txt_color }};
  }
</style>

{% schema %}
  {
    "name": "Promotional banner",
    "class": "mount-banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "banner_enable",
        "label": "Show banner",
        "default": false
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Use this banner to greet your customers and inform them about new collections, sales or shipping policies.</p>"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#141618"
      },
      {
        "type": "color",
        "id": "txt_color",
        "label": "Text color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}