<div class="password">

  <div class="password-content-wrapper">

    <h1 class="logo">

      {% if section.settings.logo_src  %}

        <a class="logo-img" href="{{ routes.root_url }}">
          <img src="{{ section.settings.logo_src | img_url: 'master' }}" alt="{{ shop.name | escape }}" style="max-width: {{ section.settings.logo_width | escape }}px;" />
        </a>

      {% else %}

        <a class="logo-txt" href="{{ routes.root_url }}">{{ shop.name | escape }}</a>

      {% endif %}

    </h1>

    <div class="password-content">

      <h2 class="password-title">{{ section.settings.title }}</h2>
      <div class="rte">{{ section.settings.body }}</div>
  
      {% if section.settings.show_newsletter %}

        <div class="form">
          {% form 'customer' %}
            {%- if form.posted_successfully? -%}
              <p class="password-form-heading alert alert--success">{{ 'password.signup_form_success' | t }}</p>
            {% else %}
              <input type="hidden" name="contact[tags]" value="prospect, password page">
              <label for="email" class="hidden">{{ 'password.signup_form_email_label' | t }}</label>
              <div class="password-input-group">
                {% render 'form-errors', form: form %}
                <input type="text" name="contact[email]" id="email" placeholder="{{ 'password.signup_form_email_placeholder' | t }}" autofocus>
                <input type="submit" class="button" name="commit" value="{{ 'password.signup_form_submit' | t }}">
              </div>
            {% endif %}
          {%- endform -%}
        </div>

        {% unless section.settings.newsletter_text == blank %}
          <div class="rte" style="opacity: .72;">{{ section.settings.newsletter_text }}</div>
        {% endunless %}

     {%- endif -%}

    </div>

  </div>

  <div class="password-footer">

    {% capture shopify %}
      <a class="shopify-link" href="//shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify" style="border-bottom: 1px solid;">
        <span class="shopify-name">Shopify</span>
      </a>
    {% endcapture %}

    {{ 'password.powered_by_shopify_html' | t: shopify: shopify }}

  </div>

</div>

<p class="password-login">
  <a href="#login-modal" class="js-toggle-login-modal">
    {{ 'password.password_link' | t }}
    {%- render 'theme-symbols', icon: 'lock' -%}
  </a>
</p>

<div id="login-modal" aria-hidden="true" class="hide">

  <div class="login-modal">

    {% form 'storefront_password' %}
      <div class="password-input-group">
        <p class="h2">{{ 'password.login_form_heading' | t }}</p>
        {% render 'form-errors', form: form %}
        <label for="password" class="hidden">{{ 'password.login_form_password_label' | t }}</label>
        <input type="password" name="password" id="password" placeholder="{{ 'password.login_form_password_placeholder' | t }}" autofocus>
        <input class="button button--solid" type="submit" name="commit" value="{{ 'password.login_form_submit' | t }}">
      </div>
    {% endform %}

    <p class="password-form-heading">{{ 'password.admin_link_html' | t }}</p>
    
    <div class="basicLightboxClose">×</div>

  </div>

</div>

{% schema %}
  {
    "name": "Password page",
    "class": "password-sharing",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_src",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo image width",
        "unit": "px",
        "min": 20,
        "max": 400,
        "step": 5,
        "default": 100
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening soon"
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "Text",
        "default": "<p>Write some information about your store and what it will sell."
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Newsletter caption",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Newsletter caption",
        "default": "<p>Be the first to know when we launch.</p><p>Read our <a href='#'>privacy policy</a>.</p>"
      }
    ]
  }
{% endschema %}